<header class="toolbar">
    <nav class="toolbar__navigation">
        <div class="toolbar__toggle-button"><button class="toggle-button">
                <div class="toggle-button__line"></div>
                <div class="toggle-button__line"></div>
                <div class="toggle-button__line"></div>
            </button></div>
        <div class="toolbar__logo"><a href="/">KNX-HOME</a></div>
        <div class="spacer"></div>
        <div class="toolbar_navigation-items">
            <ul>
                <li><a href="/other">Andere</a></li>
                <li><a href="/floor3">Dachgeschoss</a></li>
                <li><a href="/floor2">Obergeschoss</a></li>
                <li><a href="/floor1">Erdgeschoss</a></li>
                <li><a href="/floor0">Untergeschoss</a></li>
            </ul>
        </div>
    </nav>
</header>
<nav class="side-drawer">
    <ul>
        <li><a href="/other">Andere</a></li>
        <li><a href="/floor3">Dachgeschoss</a></li>
        <li><a href="/floor2">Obergeschoss</a></li>
        <li><a href="/floor1">Erdgeschoss</a></li>
        <li><a href="/floor0">Untergeschoss</a></li>
    </ul>
</nav>