{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <link rel="shortcut icon" href="{% static 'smartknx/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'smartknx/main.css' %}">
  <title>SmartKNX</title>
</head>

<body>
  <div id="root">
    {% include 'smartknx/navigation.html' %}
    <div style="height: 100%;">
      <main style="margin-top: 64px;">
        <div class="floor">
          <div class="room">
            <h3 class="room_name">Erik</h3>
            <div class="room_elements">
              <div class="device_button">
                <p>Licht</p><img src="{% static 'smartknx/light_off.svg' %}" alt="" width="32px" height="32px">
              </div>
              <div class="device_button">
                <p>Steckdose</p><img src="{% static 'smartknx/outlet_off.svg' %}" alt="" width="32px" height="32px">
              </div>
              <div class="windowblind_button">
                <p>Rollladen</p>
                <div>▲</div>
                <div>-</div>
                <div>▼</div>
                <div><img src="{% static 'smartknx/windowblind_down.svg' %}" alt="" width="32px" height="32px"></div>
              </div>
            </div>
          </div>
          <div class="room">
            <h3 class="room_name">Tina</h3>
            <div class="room_elements">
              <div class="device_button">
                <p>Decke</p><img src="{% static 'smartknx/light_off.svg' %}" alt="" width="32px" height="32px">
              </div>
              <div class="device_button">
                <p>Stehlampe</p><img src="{% static 'smartknx/light_off.svg' %}" alt="" width="32px" height="32px">
              </div>
              <div class="windowblind_button">
                <p>Rollladen</p>
                <div>▲</div>
                <div>-</div>
                <div>▼</div>
                <div><img src="{% static 'smartknx/windowblind_down.svg' %}" alt="" width="32px" height="32px"></div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

</body>

</html>